@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(#af67e9, #6565e7);

  height: 100vh;
  width: 100vw;

  font-family: "Montserrat", sans-serif;
}

.container {
  width: 65%;
  min-height: 450px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3);
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 25px;

  padding: 1rem;
}

.container .ilustracao {
  position: relative;
  left: -120px;
  width: 50%;
}

.container .questions {
  width: 40%;
  padding-bottom: 20px;
}

.container .questions h1 {
  font-weight: 600;
  margin-bottom: 30px;
}

.container .questions .items {
  list-style-type: none;
}

.container .questions .items .item {
  cursor: pointer;
  background-image: url(./image/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: top 8px right 0;
  background-size: 12px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.container .questions .items .item:last-child {
  border-bottom: none;
}

.item .question {
  padding-bottom: 15px;
  font-size: 18px;
  width: 90%;

  transition: 0.3s ease-in-out;
}

.item .question:hover {
  color: #f47c57;
}

.item .answer {
  display: none;
  padding-bottom: 15px;
}

.container .items .item.active h2 {
  font-weight: 700;
}

.container .items .item.active .answer {
  display: block;
}

.container .items .item.active {
  background-image: url(./image/icone-seta-pra-cima.png);
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    width: 90%;
    height: 60%;
  }

  .container .questions {
    width: 100%;
  }

  .container .questions h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
  }

  .container .items {
    width: 80%;
    margin: 0 auto;
  }

  .container .items .question {
    font-size: 16px;
  }

  .container .ilustracao {
    width: 40%;
    left: 0;
    margin: 30px 0;
  }
}

@media (max-width: 425px) {
  .container {
    height: 540px;
  }
}

